

<div class="container">
<h1>New cocktail</h1>
<%= simple_form_for @cocktail do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%#= f.association :ingredients, as: :check_boxes %>

  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %> <br>
<%= link_to "return to cocktails", cocktails_path  %>
</div>


